<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Yireo_TaxClassManager::tax_class"
             title="Tax Classes"
             translate="title"
             module="Yireo_TaxClassManager"
             sortOrder="30"
             parent="Magento_Tax::sales_tax"
             action="tax_class_manager/taxclass/grid"
             resource="Yireo_TaxClassManager::tax_class_view"/>
    </menu>
</config>
