<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="tax_class_manager" frontName="tax_class_manager">
            <module name="Yireo_TaxClassManager"/>
        </route>
    </router>
</config>
